#countdown{
    color: rgb(50, 50, 231);
    padding: 10px;
}
#loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader-con{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000eb;
}
.list-group-item{
    background: transparent;
}
img{
    max-width: 100%;
    clip-path: polygon(15% 15%, 86% 15%, 100% 29%, 100% 71%, 85% 86%, 16% 86%, 0 72%, 0 30%);
}
.form-text{
    color: red;
}
